*{
    margin: 0;
    font-family: arial;
    border: border-box;
    box-sizing: border-box;
}

.navbar{
    height: 100px;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 9.9vh;
    width: 6.8vw;
}

.logo{
    background-image: url(photos/jspm.jpg);
    background-size: cover;
    height: 14.5vh;
    max-width: 100%;
}

.nav-name{
    margin-left: 15px;
    cursor: pointer;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid red;
    border-radius: 5px;
}

.home{
    display: flex;
    margin-left: 150px;
}

.home a{
    color: black;
    text-decoration: none;
    margin-right: 35px;
    font-size: 1.2rem;
}

.home a:hover{
    text-decoration:2px rgb(4, 158, 9) underline;
}


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    /* margin-right: 35px; */
    font-size: 1.2rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    /* margin-top: 3.3px; */
    border-radius: 3px;
    display: none;
    position: absolute;
    background-color: #415a77;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6); */
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #2f3e46;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #2f3e46;} */

.store{
    background-image: url(photos/book_sehlf..jpg);
    height: 450px;
    width: 198.4vh;
    /* width: 100%;
    height: auto; */
    background-size: cover;
    justify-content:center;
    align-items: flex-start;
    cursor: pointer;
}

.panel{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-right: 35%;
    margin-top: 20px;
}

.panel p{
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.08rem;
    margin-left: 25px;
    text-decoration: 1.9px #945eb4 underline;
}

.quantity{
    display:block;
    margin-left: 25%;
    margin-top: 140px;
    font-size: large;
    font-weight: 600;
}

.quantity p{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.book_sec{
    background-image: linear-gradient(#c8e4f5, #c9fcfd);
    height: auto;
}

.search{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 620px;
    height: 6vh;
    border-radius: 4px;
    margin-left: 30%;
}

.search-select{
    background-color: #f3f3f3;
    width: 65px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 175, 0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}





body1{
    min-height: 100vh;
}


.sec_branch{
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 1.375rem;
    text-decoration: underline;
}

/* .card_image{
    display: flex;
    position: relative;
    height: 10%;
    width: 40%;
    margin-left: 8px;
    margin-top: 20px;
    border-radius: 3%;
}

.card_image .card_img{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    margin-left:50px ;
}

.foot_img{
    display: flex;
    flex-direction: column;

} */

.gallery {
    border: 1.5px solid #ccc;
    margin-top: 20px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {
    width: 100%;
    /* height: auto; */
    height: 45vh;
    /* margin-top: 20px; */
    border: 1.5px solid #ccc;
  }

  .gallery img:hover{
    border: 1px solid #777;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
    font-size: large;
    /* font-weight: 600; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    box-shadow: 0, 0, 0, 0.9 black;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



.foot-panel a {
    color: #ff0000;
    text-decoration: none;
    /* margin-top: 50px; */
}

.foot-panel {
    color: #ff0000;
    background: url(photos/enjoying.jpg);
    background-size: cover;
    height: 525px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top:1px solid black ;
    margin-top: 10px;
    /* border-bottom: 10px dotted;
    border-left: 8px dotted;
    border-right: 8px dotted;
    border-color: #ffafcc; */
}

ul {
    margin: 20px;
    list-style: none;
    padding: 0;
}

.foot {
    font-weight: bold;
}

ul p {
    display: block;
    margin-top: 20px;
}

ul p:hover {
    text-decoration: underline;
    text-decoration-color: black;
}


@media (max-width: 768px) {
    .responsive,
    .foot-panel,
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
        /* width: auto; */
    }

    ul {
        margin: 10px;
    }

    ul p {
        margin-top: 10px;
    }
}

@media (max-width: 500px){
    .store{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        justify-content: space-between;
        text-align: center; 
        width: 100%;
        height: 90vh;
    }
}
