*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-size: cover;
    background-position: center;
}

.index{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 0 10px rgba(0,0,0,.9);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.index h1{
    font-size: 36px;
    text-align: center;
    /* background-image:  linear-gradient(135deg, #008aff, #86d472); */
    background: linear-gradient(to left,
    violet,
    indigo,
    /* blue, */
    green,
    yellow,
    orange,
    red);
-webkit-background-clip: text;
color: transparent;
}

.index .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0; 
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    background: linear-gradient(to left,
    violet,
    /* indigo, */
    /* blue, */
    green,
    yellow,
    orange,
    red);
-webkit-background-clip: text;
color: transparent;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: linear-gradient(to left,
    violet,
    indigo,
    blue,
    green,
    /* yellow, */
    orange,
    red);
-webkit-background-clip: text;
color: transparent;
}

.index .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #0d95e9;
    margin-right: 3px;
}

.remember-forgot a{
    text-align: right;
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: #008aff;
}

  .btn {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    width: 100%;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    
    z-index: 2;
  }
  
  .btn:hover {
    color: #fff;
  }
  
  .btn .btnspan {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .btn:hover .btnspan {
    background: transparent;
  }








.index .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration:double underline;
    color: #0d95e9;
}

.index #text{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

#text p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#text a p:hover{
    text-decoration:double underline;
    /* color: #0d95e9; */
    cursor: pointer;
}